<!doctype html>
<html lang="lt">
  <head>
    <title>Sveiki!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script>
      async function signIn(button) {
        let errorBox = document.getElementById("error-box");
        errorBox.hidden = true;

        button.disabled = true;

        await fetch('start_session');

        const visitorName =
          await fetch('https://127.0.0.1:38888/Handshake/Browser')
                  .then(response => response.text())
                  .catch(error => {
                    errorBox.innerText = "Trūksta Elpako programos..";
                    errorBox.hidden = false;
                  });

        // FIXME: err handling?
        await fetch('submit_visitor_name', {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ visitor_name: visitorName })
        });

        const certificate =
          await fetch(`https://127.0.0.1:38888/Signing/SelectCertificate?childName=${visitorName}&store=usb2&purpose=authentication`)
                  .then(response => response.json());

        await fetch('submit_certificate', {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify(certificate)
        });

        const dtbs = await fetch('dtbs').then(response => response.json());

        console.debug(dtbs)

        signatureRequest = {
          childName: visitorName,
          store: "usb2",
          certificate: certificate.certificate,
          algorithm: "sha256",
          sessionId: null,
          dtbs: dtbs.dtbs,
        }

        console.debug(signatureRequest);

        const signature =
          await fetch("https://127.0.0.1:38888/Signing/Sign", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify(signatureRequest)
          }).then(response => response.json());

        console.debug(signature);

        await fetch('submit_result', {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify(signature)
        });
      }
    </script>
  </head>
  <body>
    <section class="content">
      <h1>Kas tai?</h1>
      <p>
        Demonstracinis puslapis su prisijungimu naudojant:
      </p>
      <ul>
        <li>Lietuvos asmens tapatybės kortelę</li>
        <li>USB skaitytuvą</li>
        <li><a href="https://www.nsc.vrm.lt/downloads.htm">Oficialią kortelės
        programinę įrangą</a></li>
        <li>Papildomą Elpako programinę įrangą reikalingą prisijungimui prie
        <a href="https://www.epaslaugos.lt/">https://www.epaslaugos.lt/</a></li>
      </ul>
      <p>
        Prisijungimo metu <a href="https://documenter.getpostman.com/view/11918038/UVJihuNs#9aa7e102-186c-4ed1-a8e7-7c3ff2be4924">Elpako Local API</a>
        šaukiniai yra persiunčiami į kitą kompiuterį, kuriame taip vadinamas "dbts" ("data to be signed") žetonas (token)
        ir jo parašas yra panaudojami prisijungti prie <a href="https://www.epaslaugos.lt/">https://www.epaslaugos.lt/</a>.
      </p>
      <p>
        Vartotojas prisijungimo metu nėra tinkamai informuojamas apie pasirašomo žetono paskirtį ir neturi galimybės
        suprasti, kad ištiesų jie leidžia šios svetainės autoriui prisijungti prie epaslaugos.lt portalo.
      </p>
      <p id="error-box" hidden="hidden"></p>
      <p>
        <button onclick="signIn(this)">Pradėti Prisijungimą*</button>
      </p>
      <p>
        * - nebandykite patys, skirta tik gyvai demonstracijai.
      </p>
    </section>
  </body>
</html>
